* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
}

body {
  text-align: center;
  margin: 0;
  color: white;
  min-height: 200vh;
}

.box {
  border: 6px solid white;
  transition: 0.25s ease;
  background: black;
  padding: 10px;
}

p {
  opacity: 0;
  width: 240px;
  margin: 10px auto 0;
  transition: 0.6s ease-in;
  transform: translateX(-200px);
}

.question-clicked {
  background-color: grey ;
  border-radius: 30px;
}

.show-response {
  opacity: 1;
  transform: translateX(0);
}

.mousemove{
  height: 50px;
  width: 50px;
  border: 2px solid pink;
  position: absolute;
  border-radius: 50px;
  /* permet de centrer le cercle avec le bout de la souris (par défaut c'est centré avec le coin supérieur gauche ) */
  transform: translate(-50%, -50%);
  transition: 0.1s ease;
  pointer-events: none;

}

nav{
  background: pink;
  position: fixed;
  width: 100%;
  height: 50px;
  top: -50px;
  transition: 0.4s ease;
}

nav::after {
  content: "";
  height: 150px;
  width: 150px;
  background: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.815), transparent);
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 0,25s;
  z-index: 20;
  opacity: 0;
  left: var(--x);
  top: var(--y);
}
nav:hover::after {
  opacity: 1;
}

ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}

.clicevenement{
  background: blue;
  padding: 20px;
  margin: 5px;
}

